body {
  /* background: url('./assets/snow.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center; */
  background-color: #cccccc;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
}
